<footer class="footer">
  <div class="container">
    <a class="footer__link" href="#" rel="noopener"
      ><span class="footer__text"
        >&#169; 2022 | All Rights Reserved | Developed with ❤️ by GoIT Students
      </span>
    </a>
  </div>
  <!-- scroll to top -->

  <div id="scrollUp" class="scroll scroll_hide heartbeat">
    <svg class="scroll__icon heartbeat" width="30" height="30">
      <use href="./images/sprite.svg#icon-up"></use>
    </svg>
  </div>

  <!-- preloader 1 -->
  <div class="mask">
    <img src="./images/footer/loader.png" border="0" />
  </div>
</footer>
