<header class="header">
  <div class="container">
    <div class="logo-bg">
      <div theme="dark">
        <div>
          <input type="checkbox" id="theme-toggle" class="switch" />
          <label for="theme-toggle"></label>
        </div>
      </div>
      <a href="index.html">
        <svg class="logo" width="70" height="30">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>

    <h1 class="header__title text-focus-in">
      FIND BEST EVENTS AROUND THE WORLD
    </h1>

    <div class="input-container">
      <div class="search__container">
        <form class="js-serch-query">
          <input
            name="serchQuery"
            class="search-input input"
            type="text"
            placeholder="Start searching"
          />
          <button type="submit" class="search-input__button">
            <svg class="search-input__icon" width="15" height="20">
              <use href="./images/sprite.svg#icon-input-loop"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="select-container">
        <div class="select-box">
          <div class="options-container">
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="" for="">Choose country</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="US" for="US">United States Of America</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="AU" for="AU">Australia</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="AT" for="AT">Austria</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="BE" for="BE">Belgium</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="CA" for="CA">Canada</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="CZ" for="CA">Czech Republic</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="DK" for="US">Denmark</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="EE" for="AU">Estonia</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="FI" for="US">Finland</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="DE" for="DE">Germany</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="GB" for="AU">Great Britain</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="IE" for="GB">Ireland</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="PL" for="US">Poland</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="LU" for="LT">Luxembourg</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="MX" for="LT">Mexico</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="NL" for="LT">Netherlands</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="NZ" for="LT">New Zealand</label>

            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="NO" for="LT">Norway</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="ES" for="LT">Spain</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="SE" for="LT">Sweden</label>
            </div>
            <div class="option">
              <input type="radio" class="radio" name="category" />
              <label id="CH" for="LT">Switzerland</label>
            </div>
          </div>
          <div class="selected">Choose country</div>
        </div>
      </div>
    </div>
  </div>
</header>
