<div class="modal-team-overflow visually-hidden">
    <div class="modal-team">
      <div class="modal-team-logo__wrapper">
        <a
          class="modal-team-logo__link"
          href="https://github.com/oLORDer/EventBooster"
          target="_blank"
        >
          <img
            class="modal-team-logo__img"
            src="https://s3.eu-north-1.amazonaws.com/lms.goit.files/0618d8e0-2652-3e30-ae44-fd6ff17d55a1.png"
            alt="GoIT"
            title="Our Github"
            loading="lazy"
            width="274"
            height="398"
          />
        </a>
        <h2 lang="en" class="modal-team-logo__title">Harmony team</h2>
        <h3 lang="en" class="modal-team-logo__title-team">(23 Bootcamp online)</h3>
      </div>

      <ul class="team">
        <li class="team__item">
          <a
            class="team__link"
            href="https://github.com/Katherineeeeeeee"
            target="_blank"
            aria-label="Members Github"
          >
            <img
              src="https://avatars.githubusercontent.com/u/104833965?v=4"
              alt="avatar"
              class="team__img"
              loading="lazy"
              width="274"
              height="398"
            />
          </a>
          <p lang="en" class="team__name">Katherine Dudar</p>
          <p lang="en" class="team__role">Team Lead</p>
        </li>

        <li class="team__item">
          <a
            class="team__link"
            href="https://github.com/oLORDer"
            target="_blank"
            aria-label="Members Github"
          >
            <img
              src="https://avatars.githubusercontent.com/u/70772601?v=4"
              alt="avatar"
              class="team__img"
              loading="lazy"
              width="274"
              height="398"
            />
          </a>
          <p lang="en" class="team__name">Andrii Klochkov</p>
          <p lang="en" class="team__role">Scrum Master</p>
        </li>

        <li class="team__item">
          <a
            class="team__link"
            href="https://github.com/MajorPrestige"
            target="_blank"
            aria-label="Members Github"
          >
            <img
              src="https://avatars.githubusercontent.com/u/104511234?v=4"
              alt="avatar"
              class="team__img"
              loading="lazy"
              width="274"
              height="398"
            />
          </a>
          <p lang="en" class="team__name">Denys Dashkevych</p>
          <p lang="en" class="team__role">Developer</p>
        </li>

        <li class="team__item">
          <a
            class="team__link"
            href="https://github.com/Ry6ens"
            target="_blank"
            aria-label="Members Github"
          >
            <img
              src="	https://avatars.githubusercontent.com/u/6605354?v=4"
              alt="avatar"
              class="team__img"
              loading="lazy"
              width="274"
              height="398"
            />
          </a>
          <p lang="en" class="team__name">Sergyi Gulaga</p>
          <p lang="en" class="team__role">Developer</p>
        </li>

        <li class="team__item">
          <a
            class="team__link"
            href="https://github.com/zerkel1991"
            target="_blank"
            aria-label="Members Github"
          >
            <img
              src="https://avatars.githubusercontent.com/u/47851511?v=4"
              alt="avatar"
              class="team__img"
              loading="lazy"
              width="274"
              height="398"
            />
          </a>
          <p lang="en" class="team__name">Vyacheslav Ushakov</p>
          <p lang="en" class="team__role">Developer</p>
        </li>

        <li class="team__item">
          <a
            class="team__link"
            href="https://github.com/Maksym150678"
            target="_blank"
            aria-label="Members Github"
          >
            <img
              src="https://avatars.githubusercontent.com/u/103576383?v=4"
              alt="avatar"
              class="team__img"
              loading="lazy"
              width="274"
              {{!--
              height="398"
              --}}
            />
          </a>
          <p lang="en" class="team__name">Maksym Perlovskyi</p>
          <p lang="en" class="team__role">Developer</p>
        </li>
      </ul>

      <button
        type="button"
        data-action="close-modal-team"
        class="button button-close"
        aria-label="close"
      >
        <svg
          class="close"
          href="http://www.w3.org/2000/svg"
          width="14"
          height="14"
        >
          <path
            d="M14 .7l-.7-.7L7 6.3.7 0 0 .7 6.3 7 0 13.3l.7.7L7 7.7l6.3 6.3.7-.7L7.7 7z"
          ></path>
          <!-- <use href={{{svg}}}#icon-close-modal-team></use> -->
        </svg>
      </button>
    </div>
  </div>
