.act {
  color: #dc56c5;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
}

.paginal {
  display: block;
  width: 180px;
  margin: 60px auto;
  color: #fff;
  display: flex;
  align-items: baseline;
  gap: 20px;
  cursor: pointer;
}

.paginal li {
  padding: 5px 10px;

  &:hover {
    color: $main-color;
  }
}

.lightTheme {
  color: black;
}
