.modal-team-overflow {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: visually-hidden;
  width: 100%;
  height: 100%;
  background: rgba(32, 13, 29, 0.6);
  top: 0;
  left: 0;
  z-index: 5;

  opacity: 0;
  visibility: hidden;
  transition: all 1.8s ease;
}

.modal-team-overflow.opened {
  opacity: 1;
  visibility: visible;
}

.modal-team-overflow.opened .modal-team {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
}

.modal-team {
  overflow-y: auto;
  overflow-x: visually-hidden;
  width: 300px;
  height: 1200px;
  padding: 30px 10px;
  position: absolute;
  top: 10px;

  background-color: #fff;
  line-height: 1.25;
  border-radius: 150px 0px;
  opacity: 0;
  transform: perspective(600px) translate(0px, 0) rotate(45deg);

  transition: all 1.8s ease;
  transform: translate(-50%);
  font-weight: 700;
  @include mq(tablet) {
    top: 100px;
    width: 704px;
    height: 600px;
    border-radius: 300px 0px;
    padding: 30px 40px 30px 5px;

  }

  @include mq(desktop) {
    font-size: 18px;
    width: 1034px;
    height: 700px;
  }
}



.modal-team-logo__wrapper {
  margin-bottom: 20px;
  @include mq(tablet) {
    padding-bottom: 40px;
  }
}
.modal-team-logo__title,
.modal-team-logo__title-team {
  margin-left: 50px;
  color: $main-color;
  @include mq(tablet) {
    margin-left: 180px;
  }
}
.modal-team-logo__link {
  display: block;
}

.modal-team-logo__img {
  height: 35px;
  width: 100px;
  margin-left: 50px;
  @include mq(tablet) {
    margin-left: 180px;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: calc((100% - 20px * 1) / 1);
  @include mq(tablet) {
    margin: 0 5px 32px 5px;
    width: calc((100% - 20px * 2) / 3);
  }
}

.team__item:last-child {
  margin-bottom: 0;
}

.team__link {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.team__img {
  margin-bottom: 5px;
  border-radius: 100%;
  width: 100%;
}
.team__img:hover {
  transform: scale(1.1);
}

.team__name {
  text-align: center;
  margin-bottom: 5px;
}
.team__role {
  text-align: center;
  color: $main-color;
}

.button-close {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  top: 10px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.button-close:focus {
  filter: drop-shadow(0 0 5px $main-color);
}
.button-close:hover {
  background-color: #4c00fe;
}
